extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br
    
    h1 Nueva Bici

    br
    br

    form(action='/bicicletas/create' method='post')
        lbel(for='id') ID:
        input#id(type='text' name='id')
        br
        lbel(for='color') Color:
        input#color(type='text' name='color')
        br
        lbel(for='modelo') Modelo:
        input#modelo(type='text' name='modelo')
        br
        lbel(for='lat') Latitud:
        input#modelo(type='text' name='lat')
        br
        lbel(for='lng') Longitud:
        input#modelo(type='text' name='lng')
        br
        br
        input.btn(type='submit' name='OK')