extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br
    
    h1 Modificando las bicis

    br
    br

    form(action= `/bicicletas/${bici.id}/update` method='post')
        lbel(for='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        lbel(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        lbel(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        lbel(for='lat') Latitud:
        input#modelo(type='text' name='lat' value=bici.ubicacion[0])
        br
        lbel(for='lng') Longitud:
        input#modelo(type='text' name='lng' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' name='OK')